@charset "UTF-8";

@media screen and(min-width:992px) and (max-width: 1200px) {
    
}
/*
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/*
#3E8F2B - verde escuro
#29DB00 - verde claro
#DB6A2C - salmão
#100E8F - roxo escuro
#2220DB - roxo claro
*/

* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;

}


body {
    background-image: linear-gradient(90deg, #29DB00, #3E8F2B);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    box-sizing: border-box;
    background-image: linear-gradient(50deg, #2220DB, #100E8F);
    width: 80%;
    height: 80vh;
    display: flex;
    margin-top: 3rem;
    box-shadow: 1px 1px 3px black;
   
    
}

.form-image {
    display: flex;
    width: 45%;
    height: 100%;
    box-sizing: border-box;
}

.form {
    color: #DB6A2C;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    margin-left: 2rem;
    font-size: 1.2em;
}

.input-group {
    padding-top: 1em;
}

.input-box {
    padding: .3rem;
}

#email, #senha {
    border: none;
    border-radius: 5px 5px ;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
    background-color: #100E8F;
    width: 25vw;
    height: 4vh;
    
}

input {
    color: white;
    background: none;
}

#esq_senha {
    color: #DB6A2C;
    font-size: .8em;
    margin-left: .6rem;
}

button {
    background-color: #2be900;
    color: #db692cad;
    font-size: 1.3em;
    width: 10vw;
    height: 6vh;
    margin-top: .6rem;
    
    border: none;
    border-radius: 5px 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    box-sizing: border-box;
}

button:hover{
   transform: scale(1.1);
   box-shadow: 2px 3px black;
}

#cadastro {
    color: #DB6A2C;
    text-decoration: none;
    font-size: .8em;
    margin-left: 11.6rem;
}